<div [ngClass]="'container'">
  <div [ngClass]="'card'">
    <h5 [ngClass]="'card-header'">Create a Topic</h5>
    <div [ngClass]="'form card-body'">
      <div [ngClass]="'form-group'">
        <h6 [ngClass]="'card-title'">Enter a Topic Name</h6>
        <input #newTopic type="text" [formControl]="topicName" [ngClass]="'form-control'" (keyup)="showUriToBe(newTopic.value)">
        <small [ngClass]="'form-text text-muted'">URI :: {{uriToBe}}</small>
      </div>
        <nav [ngClass]="'listNav'">
          <button type="submit" [ngClass]="'btn btn-primary btn-sm'" (click)="createTopicInCarbonLDP()">Create</button>
          <button (click)="navBack()" [ngClass]="'btn btn-outline-primary btn-sm'">Return</button>
        </nav>


        <div [ngClass]="getMessageClass()">{{output}}</div>
    </div>
  </div>
</div>
