<div [ngClass]="'container'">
  <div [ngClass]="'card'">
    <h5 [ngClass]="'card-header'">{{ topic.name }}</h5>
    <div [ngClass]="'card-body'">
      <p [ngClass]="'lead'">
        <strong>Owner: </strong><span class="badge badge-light">{{ topic.owner.firstName }} {{ topic.owner.lastName }}</span><br>
        <strong>Participants: </strong>
            <span *ngFor="let participant of topic.participants" class="badge badge-light">{{participant.firstName}} {{participant.lastName}}</span>
      </p>
    </div>
  </div>
  <div [ngClass]="'card'">
    <h6 [ngClass]="'card-header'">Ideas</h6>
    <div [ngClass]="'card-body'">
      <ti-topic-idea-list></ti-topic-idea-list>
    </div>
  </div>
  <div *ngIf="isDeleteRequested()" [ngClass]="'form-group delete-group'">
    <h6 [ngClass]="'card-title'">Enter the Topic Name to confirm you want to delete it, and click Delete again.</h6>
    <input type="text" [formControl]="deleteTopicName" [ngClass]="'form-control'">
    <small [ngClass]="'form-text text-muted'">This will delete all data at URI :: {{topic.$id}}</small>
  </div>
  <nav [ngClass]="'listNav'">
    <button [ngClass]="'btn btn-primary btn-sm'" (click)="deleteTopic()" *ngIf="isAllowedToDelete()">Delete</button>
    <button (click)="navBack()" [ngClass]="'btn btn-outline-primary btn-sm'">Return</button>
  </nav>
</div>
