<div [ngSwitch]="ideaList?.length">
  <span *ngSwitchCase="0">No Ideas yet</span>
  <ul *ngSwitchDefault [ngClass]="'list-group list-group-flush'" >
  <li *ngFor="let idea of getSortedIdeaList()" [ngClass]="'list-group-item d-flex align-items-center clearfix'">
    <span [ngClass]="'float-left col col-0'">{{ idea.description }}</span>
    <button type="button" (click)="likeIdeaToggle(idea)" [disabled]="!authService.isLoggedIn || !isParticipating()"
    [ngClass]="{'btn':true,'btn-primary':participantLikesIdea(idea),'btn-outline-primary':!participantLikesIdea(idea),'btn-sm':true,'float-right':true,'feedback-btn':true}">
      <i class="far fa-thumbs-up"></i><span class="badge badge-light">{{idea.likedBy?.length}}</span>
    </button>
    <button type="button" (click)="dislikeIdeaToggle(idea)" [disabled]="!authService.isLoggedIn || !isParticipating()"
    [ngClass]="{'btn':true,'btn-primary':participantDislikesIdea(idea),'btn-outline-primary':!participantDislikesIdea(idea),'btn-sm':true,'float-right':true,'feedback-btn':true}">
      <i class="far fa-thumbs-down"></i><span class="badge badge-light">{{idea.dislikedBy?.length}}</span>
    </button>
  </li>
  </ul>
</div>
