<div [ngSwitch]="ideaList?.length">
  <span *ngSwitchCase="0">No Ideas yet</span>
  <ul *ngSwitchDefault [ngClass]="'list-group list-group-flush'" >
  <li *ngFor="let idea of getSortedIdeaList()" [ngClass]="'list-group-item d-flex align-items-center clearfix'">
    <span [ngClass]="'float-left col col-0'">{{ idea.description }}</span>
    <button type="button" (click)="likeIdeaToggle(idea.$id)" [disabled]="!authService.isLoggedIn || !isParticipating()"
    [ngClass]="'btn btn-outline-primary btn-sm float-right feedback-btn'">
      <i class="far fa-thumbs-up"></i><span class="badge badge-light">{{idea.likes?.size}}</span>
    </button>
    <button type="button" (click)="dislikeIdeaToggle(idea.$id)" [disabled]="!authService.isLoggedIn || !isParticipating()"
    [ngClass]="'btn btn-outline-primary btn-sm float-right feedback-btn'">
      <i class="far fa-thumbs-down"></i><span class="badge badge-light">{{idea.dislikes?.size}}</span>
    </button>
  </li>
  </ul>
</div>
