<div [ngClass]="'container'">
  <div [ngClass]="'clearfix'">
    <div [ngClass]="'float-left'">
      <h4>Topics</h4>
    </div>
    <div [ngClass]="'float-right'">
      <nav [ngClass]="'listNav'">
        <a [ngClass]="'btn btn-outline-primary btn-sm'" routerLink="/create-topic">Create Topic</a>
      </nav>
    </div>
  </div>
<div *ngIf="noTopics()">No Topics yet</div>
  <ul [ngClass]="'topicList list-group'">
    <li *ngFor="let topic of getSortedTopicList()" [ngClass]="'list-group-item'">
      <a routerLink="/view-topic/{{topic.$slug}}">{{topic.name}}</a> :: <i>{{topic.$id}}</i>
    </li>
  </ul>
</div>
