<div [ngClass]="'container'">
  <div [ngClass]="'row'">
    <div [ngClass]="'col-sm'">
      <h4>Topics</h4>
    </div>
    <div [ngClass]="'col-sm-auto'">
      <nav [ngClass]="'listNav'">
        <a [ngClass]="'btn btn-outline-primary btn-sm'" routerLink="/create-topic">Create Topic</a>
      </nav>
    </div>
  </div>
<div *ngIf="noTopics()">No Topics yet</div>
<ul [ngClass]="'topicList list-group'">
  <li *ngFor="let topic of topicList" [ngClass]="'list-group-item'">
    <a routerLink="/view-topic/{{topic.$slug}}">{{topic.name}}</a> :: <i>{{topic.$id}}</i>
  </li>
</ul>
</div>
