<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="clearfix">
    <div class="float-left">
      <h4>{{ title }}</h4>
    </div>
    <div class="float-right">
      <a routerLink="/account" [ngClass]="'btn btn-link'">
        <span *ngIf="isLoggedIn()">Account</span>
        <span *ngIf="!isLoggedIn()">Login</span>
      </a>
      <a routerLink="/logout" [ngClass]="'btn btn-link'" *ngIf="isLoggedIn()">Logout</a>
    </div>
  </div>
  <i>Create or join Topics and collect ideas to vote on</i>
  <router-outlet></router-outlet>
</div>
