<div [ngClass]="'container'">
  <div [ngClass]="'row'">
    <div [ngClass]="'col-md'" *ngIf="isNotAuthenticated()">
      <div [ngClass]="'card'">
        <h5 [ngClass]="'card-header'">
          <span>Login</span>
        </h5>
        <div [ngClass]="'form card-body'">
          <form (ngSubmit)="loginSubmit()" #loginForm="ngForm">

            <div [ngClass]="'input-group input-group-sm mb-3'">
              <div [ngClass]="'input-group-prepend'">
                <span [ngClass]="'input-group-text'" id="input-email-label">Email</span>
              </div>
              <input type="text" [ngClass]="'form-control'" id="loginEmail" required [(ngModel)]="loginEmail" name="loginEmail" aria-label="Enter participant email" aria-describedby="input-email-label">
            </div>
            <div [ngClass]="'input-group input-group-sm mb-3'">
              <div [ngClass]="'input-group-prepend'">
                <span [ngClass]="'input-group-text'" id="input-passphrase-label">Passphrase</span>
              </div>
              <input type="password" [ngClass]="'form-control'" id="loginPassphrase" required [(ngModel)]="loginPassphrase" name="loginPassphrase" aria-label="Enter passphrase" aria-describedby="input-passphrase-label">
            </div>
            <div [ngClass]="'card'" *ngIf="hasLoginMessages()">
              <div [ngClass]="'card-body'">
                {{ loginMessages }}
              </div>
            </div>
            <button type="submit" [ngClass]="'btn btn-success btn-sm'" [disabled]="!loginForm.form.valid">Submit</button>
            <button (click)="navBack()" [ngClass]="'btn btn-outline-primary btn-sm'">Return</button>

          </form>
        </div>
      </div>
    </div>
    <div [ngClass]="'col-md-auto'" *ngIf="isNotAuthenticated()">
      - Or -
    </div>
    <div [ngClass]="'col-md'">
      <div [ngClass]="'card'">
        <h5 [ngClass]="'card-header'">
          <span *ngIf="isNotAuthenticated()">Register to Participate</span>
          <span *ngIf="isAuthenticated()">My Participant Details</span>
        </h5>
        <div [ngClass]="'form card-body'">
          <form (ngSubmit)="newAccountSubmit()" #accountForm="ngForm">
            <div [ngClass]="'input-group input-group-sm mb-3'">
              <div [ngClass]="'input-group-prepend'">
                <span [ngClass]="'input-group-text'" id="input-firstName-label">First Name</span>
              </div>
              <input type="text" [ngClass]="'form-control'" id="firstName" required [(ngModel)]="firstName" name="firstName"  [disabled]="isAuthenticated()" aria-label="Enter First Name" aria-describedby="input-firstName-label">
            </div>
            <div [ngClass]="'input-group input-group-sm mb-3'">
              <div [ngClass]="'input-group-prepend'">
                <span [ngClass]="'input-group-text'" id="input-lastName-label">Last Name</span>
              </div>
              <input type="text" [ngClass]="'form-control'" id="lastName" required [(ngModel)]="lastName" name="lastName"  [disabled]="isAuthenticated()" aria-label="Enter Last Name" aria-describedby="input-lastName-label">
            </div>
            <div [ngClass]="'input-group input-group-sm mb-3'">
              <div [ngClass]="'input-group-prepend'">
                <span [ngClass]="'input-group-text'" id="input-email-label">Email</span>
              </div>
              <input type="text" [ngClass]="'form-control'" id="email" required [(ngModel)]="email" name="email" [disabled]="isAuthenticated()" aria-label="Enter participant email" aria-describedby="input-email-label">
            </div>
            <div [ngClass]="'input-group input-group-sm mb-3'" *ngIf="isNotAuthenticated()">
              <div [ngClass]="'input-group-prepend'">
                <span [ngClass]="'input-group-text'" id="input-passphrase-label">Passphrase</span>
              </div>
              <input type="password" [ngClass]="'form-control'" id="passphrase" required [(ngModel)]="passphrase" name="passphrase" aria-label="Enter passphrase" aria-describedby="input-passphrase-label">
            </div>

            <div [ngClass]="'card'" *ngIf="hasAccountMessages()">
              <div [ngClass]="'card-body'">
                {{ accountMessages }}
              </div>
            </div>
            <button type="submit" [ngClass]="'btn btn-success btn-sm'" [disabled]="!accountForm.form.valid">Submit</button>
            <button (click)="navBack()" [ngClass]="'btn btn-outline-primary btn-sm'">Return</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
